<!-- Create a header.ejs file in the views folder. This will become the header for all the pages. -->
<!-- Create a style.css in it, and then link to it in your header.ejs. 
Using CSS to give all your pages a common theme. -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>EJS App</title>
    <link rel="stylesheet" type="text/css" href="style.css"
</head>
<body>